@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-1: #fafafa;
  --color-gray-2: #cdcccc;
  --color-gray-3: #676767;
  --color-mustard-1: #e0e43e;
  --color-white: #ffffff;
  --color-black: #212121;
  --color-red-1: #e43e3e;

  --color-inactive-mustard-1: #e0e43e17;
  --color-inactive-mustard-2: #e0e43e63;
  --color-inactive-red-1: #e43e3e2e;
  --color-inactive-red-2: #e43e3e2e;
  --color-inactive-gray-1: #cdcccc38;
  --color-inactive-gray-2: #cdcccc2b;

  --sidenav-width: 220px;
  --navbar-width: calc(100% - var(--sidenav-width) - 60px);
}
